<h1><%= @station.name %></h1>
<p>Address: <%= @station.address %></p>
<p>Fuel type: <%= @station.fuel_type %></p>
<p>Hours: <%= @station.access_times %></p>

<h2>Directions</h2>
<p>Distance to station: <%= @directions.total_distance %> miles</p>
<p>Estimated travel time: <%= @directions.estimated_time %></p>
<% @directions.maneuvers.each do |maneuver| %>
  <p><%= maneuver[:narrative] %></p>
<% end %>